<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.member.mapper.MeEmployeeCommissionMapper">

    <resultMap id="CaseResultMap" type="org.jeecg.modules.member.vo.MeEmployeeCommissionVo">
        <result column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="create_time" property="createTime"/>
        <result column="consumption_items_id" property="consumptionItemsId"/>
        <result column="conItemName" property="itemName"/>
        <result column="employee_id" property="employeeId"/>
        <result column="consumt_amount" property="consumtAmount"/>
        <result column="consumption_time" property="consumptionTime"/>
        <result column="memberName" property="memberName"/>
        <result column="employeeName" property="employeeName"/>
        <result column="consumt_way" property="payWay"/>
        <result column="recharge_record_id" property="rechargeRecordId"/>
        <result column="consumpt_record_id" property="consumptRecordId"/>

    </resultMap>
    <!-- 根据用户名查询 -->
    <select id="queryPageList" resultMap="CaseResultMap">
        SELECT
        me_employee_commission.*,
        me_mployee.NAME AS employeeName,
        consumption_items.content AS conItemName,
        me_member.NAME AS memberName
        FROM
        me_employee_commission
        LEFT JOIN me_mployee ON me_employee_commission.employee_id = me_mployee.id
        LEFT JOIN consumption_items ON me_employee_commission.consumption_items_id = consumption_items.id
        LEFT JOIN me_member ON me_employee_commission.member_id = me_member.id
        ORDER BY
        me_employee_commission.create_time DESC

    </select>
</mapper>