<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.member.mapper.MeRechargeRecordMapper">
    <resultMap id="CaseResultMap" type="org.jeecg.modules.member.vo.MeRechargeRecordVo">
        <result column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="create_time" property="createTime"/>
        <result column="employee_id" property="employeeId"/>
        <result column="memberName" property="memberName"/>
        <result column="employeeName" property="employeeName"/>
        <result column="recharge_mode" property="rechargeMode"/>
    </resultMap>
    <!-- 根据用户名查询 -->
    <select id="queryPageList" resultMap="CaseResultMap">
SELECT
	me_recharge_record.*,me_member.`name` as memberName,me_mployee.`name` as employeeName
FROM
	me_recharge_record left join
	me_member  on  me_recharge_record.member_id = me_member.id
	left join
	me_mployee on me_recharge_record.employee_id=me_mployee.id

    </select>
</mapper>